
.container-fluid{
    padding:0;
    overflow: hidden;

}
#topItemFlex text{
    font-size: 18px;
    font-weight: bolder;
    color: black;
    font-style:tisa;
    margin-left: 10px;
}

.rightTopFlexItem text{
    font-size: 18px;
    font-weight: bolder;
    color: black;
    font-style:tisa;
    margin-left: 10px;

}
button{
    border-radius:30px;
    border:none;
}

button:hover{
    background-color:white;    
}

.form-control{
    background-color: #f2f3f4 
}
.form-control:hover{
    background-color: white;
}
.leftFlex{
    display: flex;
    flex-flow: column wrap;
    justify-content:flex-start;
    align-items:stretch;
    overflow: hidden;
    background-color: #d7dbdd ;
}

#topItemFlex{
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items:center;
    flex-basis: 80px;
}

#userProfilePic{
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

.controlsTray{
    position: absolute;
    right: 10px;

}
.wholeFriendsAreaItemFlex{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    max-height: 460px;
    overflow: hidden;
}
.wholeFriendsAreaItemFlex:hover{
    overflow:auto;
}
#friendsItemFlex{
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items:center;
    flex-basis: 80px;
    border-radius: 10px;
    
}
#friendsItemFlex:hover{
    background-color:  #cacfd2 ;
    
}
#friendsItemFlex text{
    font-size: 18px;
    font-weight: bolder;
    color:black;
    font-style:tisa;
}

#friendsProfilePic{
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

#spanItemFlex{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}

.text-muted{
    font-size: 16px;
    margin-left: 100px;
}

.rightFlex{
    display: flex;
    flex-flow: column wrap;
    justify-content:flex-start;
    align-items:stretch;
    background-color:#e5e7e9;
    
}

.rightTopFlexItem{
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items:center;
    flex-basis: 80px;
}

.rightBottomFlexItem{
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items: center;
    background-color: #e5e7e9;
   
}
.typeHere{
    width: 770px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 15px;
    background-color:  #f8f9f9 ;
    
}
.typeHere:hover{
    background-color:white;
}

.messageBox{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-end;
    flex-basis: 457px;
    max-height: 457px;
    overflow: hidden;
}
.messageBox:hover{
    overflow: auto;
}