text{
    font-size: 18px;
    font-weight: bolder;
    color: white;
    font-style:tisa;
    margin-left: 10px;
}
.container-fluid{
    padding:0;
}
.leftFlex{
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
    align-items:stretch;
    border-right:3px solid  #424949 ;
    
}

#topItemFlex{
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items:center;
    flex-basis: 80px;
    background-color: #424949 ;
    border-radius: 2px
    ;
}

#userProfilePic{
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

.controlsTray{
    margin-left: 70px;

}
#friendsProfilePic{
    width: 60px;
    height: 60px;
    border-radius: 40px;


}
